AnchorPane{
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 20;
    -fx-border-size: 0;
}

Label{
    -fx-text-fill: #000;
}

FlowPane{
    -fx-border-width: 0.5;
    -fx-border-color: rgba(0, 0, 0, 0.2);
}

#editButton{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-width: 0;
}

#editButton:hover{
    -fx-cursor: hand;
}

#title{
    -fx-font-size: 20px;
    -fx-font-weight: 900;
}

#description{
    -fx-font-size: 16px;
}